:root {
    --color0: #fff;
    --color1: #293847;
    --color2: #4c5464;
    --color-body: #f2f3f5;
    --navbar-head-height: 5.5rem;
    --auth-padding-left: 3rem;
    --auth-icon-size: 3rem;
    --navbar-links-height: 6rem;
    --footer-height: 10rem;
    --border-radius: 5rem;
    --border: 3px solid var(--color1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Hind Madurai, Hind-fallback, Arial, sans-serif;
    /* border: 1px solid black; */
}

/* RECURRENT CLASSES */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GENERAL */
html {
    display: block;
    font-size: 10px;
}

body {
    display: block;
    font-size: 1.6rem;
    background-color: var(--color-body);
    /* background-color: red; */
}

.wrapper {
    flex-direction: column;
}

body,
.wrapper {
    min-height: 100vh;
}

form input {
    border: none;
}

/* NAVBAR */
.navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* border-bottom: 1px solid grey; */
    background-color: var(--color1);
    color: var(--color0);
    z-index: 99;
}

.navbar-head h1 {
    font-size: 4.5rem;
    color: rgb(128, 0, 0);
    padding: 0 var(--auth-padding-left);
}

.navbar-head {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    height: var(--navbar-head-height);
    justify-content: space-between;
}

.navbar-head a,
.navbar-links a {
    color: var(--color0);
    text-decoration: none;
}

.navbar-links {
    display: block;
    height: var(--navbar-links-height);
}

.nav {
    height: 100%;
}

.nav-item,
.nav-item-page {
    display: inline-block;
    margin: 1rem;
}

.nav-link {
    color: var(--color2) !important;
    font-weight: 600;
}

.nav-link-page {
    background-color: var(--color2);
    padding: 0.5rem 1.6rem;
    border: 2px solid transparent;
    border-radius: 10rem;
    font-weight: 600;
}

.nav-link-page:hover {
    background-color: var(--color1);
    transition-duration: .11s;
    border-color: var(--color0);
}

/* NAVBAR AUTH COLLAPSE */
.authentication {
    height: 100%;
    padding: 0 var(--auth-padding-left);
    margin-right: -10rem;
}

.authentication input {
    display: none;
}

.authentication label {
    cursor: pointer;
    overflow: hidden;
    margin-left: var(--auth-padding-left);
}

.auth-collapse-content {
    flex-direction: column;
    max-height: 0;
    width: 10rem;
    position: relative;
    top: calc(var(--navbar-head-height) - var(--navbar-head-height)/2);
    right: 6.8rem;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    overflow: hidden;
}

.authentication input:checked~.auth-collapse-content {
    min-height: 10rem;
    max-height: 20rem;
    top: calc(var(--navbar-head-height) + 5rem);
    border: 2px solid var(--color2);
    opacity: 1;
    background-color: var(--color-body);
    color: var(--color2);
}

.fa-circle-user,
.fa-chevron-up {
    font-size: var(--auth-icon-size);
    padding: 0.2rem;
}

/* CONTAINER */
.container {
    width: 100%;
    /* min-height: calc(100vh - var(--footer-height)); */
    min-height: 100vh;
    max-width: 120rem;
    padding: 15rem 0 5rem 0;
    margin: 0;
}

/* LOGIN - REGISTER */
.connection {
    flex-direction: column;
}

.connection-form {
    margin: 2rem 0;
}

.form-control,
.btn {
    width: 40rem;
    height: 4rem;
    margin: 0.8rem;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.btn-disable {
    background-color: var(--color2) !important;
    color: var(--color1) !important;
}

.form-control {
    padding: 1.5rem;
    border: 1px solid var(--color2);
}

.error-msg {
    color: red;
    margin: 1rem 0;
    text-align: center;
}

/* SELL */
.sell,
.sell h2,
.sell-form,
.sell-form-item,
.sell-label,
.sell-input {
    width: 100%;
}

.sell {
    border: var(--border);
    background-color: var(--color0);
    padding: 2rem 5rem;
}

.sell,
.sell-form {
    flex-direction: column;
    max-width: 80rem;
    margin: auto;
}

.sell h2 {
    margin-bottom: 3rem;
}

.sell-form-item {
    margin: 1rem;
}

.sell-label {
    font-weight: 700;
}

.sell-input {
    margin: 1rem 0;
}

.sell input[type="text"] {
    margin: 0;
    width: 100%;
}

.sell select[name="category"] {
    padding: 0.8rem 1rem;
    border-radius: var(--border-radius);
    width: 30rem;
}

.sell textarea {
    padding: 1.5rem 1.2rem;
    border-radius: 10px;
    width: 100%;
    height: 25rem;
    resize: none;
}

.sell input[type="number"] {
    margin: 0;
    max-width: 20rem;
    width: 100%;
}

.sell input[type="file"] {
    width: 100%;
    border: 1px solid black;
    border-radius: var(--border-radius);
    padding: 1rem;
}

.sell input[type="file"],
.sell select {
    cursor: pointer;
}

.sell-form .queued-images {
    width: 100%;
    min-height: 16rem;
    border: 2px dashed grey;
    border-radius: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: rgb(190, 190, 190, 0.2);
}

.uploaded-image img {
    object-fit: scale-down;
    border-radius: 1rem;
    height: 15.5rem;
    width: 15.5rem;
    border: 1px dotted grey;
    margin: 0.2rem;
}

input[type="submit"] {
    margin: 5rem 0 2rem 0;
}

/* CATEGORIES */
.categories {
    /* flex-direction: column; */
    /* min-height: calc(100vh - var(--footer-height)); */
    height: 100%;
    width: 100%;
}

.categories h1 {
    text-align: center;
}

.nav-categories {
    margin: 3rem 0 4rem 0;
    flex-wrap: wrap;
}

.nav-categories-item {
    list-style-type: none;
}

.nav-categories-link,
.connection-form input[value="Login"],
.connection-form input[value="Register"] {
    min-width: 5rem;
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 2px solid var(--color2);
    border-radius: 10rem;
    color: var(--color1);
    font-weight: 600;
    font-size: 1.8rem;
}

.nav-categories-link:hover,
.connection-form input[value="Login"]:hover,
.connection-form input[value="Register"]:hover {
    color: var(--color0);
    background-color: var(--color2);
}

.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    /* border: var(--border);
    padding: 2rem;
    height: 100%; */
}

.items-container a {
    text-decoration: none;
    color: black;
}

.item {
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid var(--color2); */
    background-color: var(--color0);
    /* padding: 1rem; */
    transition: .3s all ease-in-out;
}

.item:hover {
    transform: scale(1.05);
}

.item-img,
.item-details {
    width: 100%;
}

.item-details {
    padding: 1rem;
}

.item-img img {
    aspect-ratio: 1/1;
    object-fit: scale-down;
    max-width: 100%;
    /* border-radius: 1rem; */
}

.item-title {
    padding: 0.2rem 1rem;
    font-size: 2rem;
    min-height: 10rem;
}

.item-price {
    justify-content: space-between;
}

.item-price p:first-child {
    font-weight: 600;
}

.item-price p:last-child {
    color: var(--color2);
    font-style: italic;
}

.item-price p {
    display: inline-block;
    margin-top: 1rem;
}

.no-items {
    width: 100%;
    height: 100%;
}

.no-items p,
.no-items h4 {
    display: block;
    margin: 1rem;
    padding: 1rem 5rem;
}

/* AUCTION */
.auction-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.auction-container h2 {
    width: 100%;
    text-align: left;
    padding: 2rem;
}

.auction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: var(--color0);
    border: var(--border);
    margin: 2rem 0;
    padding: 2rem;
}

.bid-form input[value="Place Bid"] {
    background-color: #2bb04a;
}

.bid-form input[value="Place Bid"]:hover {
    background-color: #1e8336;
}

.wishlist-form input,
.comment-form input[value="Comment"],
.sell-form input[value="Sell"] {
    background-color: #096ec8;
}

.wishlist-form input:hover,
.comment-form input[value="Comment"]:hover,
.sell-form input[value="Sell"]:hover {
    background-color: #064881;
}

.bid-form input[value="Place Bid"],
.wishlist-form input,
.comment-form input[value="Comment"],
.sell-form input[value="Sell"] {
    color: var(--color0);
    font-weight: 600;
    font-size: large;
    border-radius: 10rem;
}

.auction-images .auction-images-small img {
    object-fit: scale-down;
    border-radius: 1rem;
    height: 5rem;
    width: 5rem;
    margin: 0.2rem;
}

.auction-details,
.auction-bid,
.auction-bid-details,
.auction-bid-form,
.auction-wishlist-form {
    flex-direction: column;
}

.auction-bid-container {
    flex-direction: column;
    justify-content: space-evenly;
}

.auction-details,
.auction-bid-details {
    padding: 3rem;
}

.auction-bid {
    justify-content: space-evenly;
}

.auction-details {
    width: 100%;
    border: var(--border);
    background-color: var(--color0);
}

.auction-label,
.auction-content {
    background-color: var(--color-body);
}

.auction-detail {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 1rem;
    min-height: 4rem;
}

.auction-detail p {
    padding: 1rem;
}

.auction-label {
    grid-column: 1/2;
}

.auction-content {
    grid-column: 2/6;
}

.auction-bid-form .btn,
.auction-wishlist-form .btn {
    margin: 1rem 0;
}

.auction-current-bid {
    font-size: 6rem;
    margin: 2rem;
    color: red;
    font-weight: 600;
}

.auction-images-big img {
    object-fit: scale-down;
    border-radius: 1rem;
    height: 50rem;
    width: 50rem;
    margin: 0.2rem;
}

.auction-msg {
    height: 3rem;
}

.comment-container {
    width: 100%;
    border: var(--border);
    background-color: var(--color0);
}

.comment,
.comment-details {
    min-width: 50rem;
    width: 50%;
}

.comment {
    border: 1px solid var(--color2);
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    margin: 2rem 5rem 0 2rem;
    background-color: var(--color-body);
}

.comment-details p {
    text-align: right;
    font-size: 1.5rem;
    font-style: italic;
}

.comment-form {
    margin: 5rem;
}

.comment-form input {
    width: 100%;
}

/* WISHLIST and MY AUCTIONS*/
.wishlist-container,
.my-auctions-container {
    display: block;
    margin: 0 3rem;
}

.wishlist,
.my-auctions {
    display: block;
    padding: 1rem;
    margin: 2rem;
}

.wishlist h3,
.my-auctions h3 {
    margin: 2rem 0;
}

/* FOOTER */
.footer {
    justify-content: space-evenly;
    width: 100%;
    height: var(--footer-height);
    margin-top: auto;
    border-top: 1px solid black;
    background-color: var(--color1)
}


.footer p,
.footer a {
    color: var(--color0);
    font-weight: 600;
}

.footer a {
    text-decoration: none;
}