:root {
    --navbar-head-height: 8rem;
    --auth-padding-left: 4rem;
    --auth-icon-size: 3rem;
    --navbar-links-height: 5rem;
    --footer-height: 15rem;
    --border-radius: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Blinker, Helvetica, Arial, sans-serif;
    /* border: 1px solid black; */
}

/* RECURRENT CLASSES */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GENERAL */
html {
    display: block;
    font-size: 10px;
}

body {
    display: block;
    font-size: 1.6rem;
}

.wrapper {
    flex-direction: column;
}

body,
.wrapper {
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid grey;
}

.navbar-head h1 {
    font-size: 4.5rem;
    color: rgb(128, 0, 0);
    padding: 0 var(--auth-padding-left);
}

.navbar-head {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    height: var(--navbar-head-height);
    justify-content: space-between;
}

.navbar-links {
    display: block;
    height: var(--navbar-links-height);
}

.nav {
    height: 100%;
}

.nav-item {
    display: inline-block;
    margin: 1rem;
}

/* NAVBAR AUTH COLLAPSE */
.authentication {
    height: 100%;
    padding: 0 var(--auth-padding-left);
    margin-right: -10rem;
}

.authentication input {
    display: none;
}

.authentication label {
    cursor: pointer;
    overflow: hidden;
    margin-left: var(--auth-padding-left);
}

.auth-collapse-content {
    flex-direction: column;
    max-height: 0;
    width: 10rem;
    position: relative;
    top: calc(var(--navbar-head-height) - var(--navbar-head-height)/2);
    right: 6.5rem;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    overflow: hidden;
}

.authentication input:checked~.auth-collapse-content {
    max-height: 15rem;
    /* max-width: 10rem; */
    top: var(--navbar-head-height);
    border: 1px solid black;
    opacity: 1;
}

.fa-circle-user,
.fa-chevron-up {
    font-size: var(--auth-icon-size);
}

/* CONTAINER */
.container {
    width: 100%;
    min-height: calc(100vh - var(--footer-height));
    max-width: 120rem;
    padding: 20rem 2rem 5rem 2rem;
}

/* LOGIN - REGISTER */
.connection {
    flex-direction: column;
}

.connection-form {
    margin: 2rem 0;
}

.form-control,
.btn {
    width: 40rem;
    height: 4rem;
    margin: 0.8rem;
    border-radius: var(--border-radius);
}

.form-control {
    padding: 1.5rem;
}

.error-msg {
    color: red;
    margin-top: 2rem;
}

/* FOOTER */
.footer {
    justify-content: space-evenly;
    width: 100%;
    height: var(--footer-height);
    margin-top: auto;
    border-top: 1px solid black;
}