{% extends "auctions/layout.html" %}

{% block body %}
<div class="auction-container flex">
    <div class="auction">
        <div class="auction-images">
            <div class="auction-images-big flex">
                <img src="{{ images.first.upload.url }}" alt="{{ images.first.upload.url.first }}">
            </div>
            <div class="auction-images-small flex">
                {% for image in images %}
                <img src="{{ image.upload.url }}" alt="{{ image.upload.url }}" class="small-img">
                {% endfor %}
            </div>
        </div>
        <div class="auction-bid-container">
            <div class="auction-bid flex">
                <h1>{{ auction.title }}</h1>
                <div class="auction-bid-details flex">
                    <div class="auction-current-bid">{{ auction.bid }} $</div>
                    <div class="auction-bid-counter">
                        {% if auction.bid_counter == 0 %}
                        <p>No bids yet</p>
                        {% elif auction.bid_counter == 1 %}
                        <p>{{ auction.bid_counter }} bid</p>
                        {% else %}
                        <p>{{ auction.bid_counter }} bids</p>
                        {% endif %}
                    </div>
                </div>
                <div class="auction-forms">
                    <div class="bid_form">
                        <form action="{% url 'auctions:auction' auction.pk %}" method="POST"
                            class="auction-bid-form flex">
                            {% csrf_token %}
                            {{ bid_form }}
                            <input type="submit" value="Place Bid" class="btn">
                        </form>
                    </div>
                    <div class="wishlist-form">
                        <form action="{% url 'auctions:auction' auction.pk %}" method="POST"
                            class="auction-wishlist-form flex">
                            {% csrf_token %}
                            <input type="submit" name="wishlist" value="Add To Wishlist" class="btn">
                        </form>
                    </div>
                </div>

            </div>
            <div class="auction-msg">
                {% if message %}
                <div class="error-msg">{{ message }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="auction-details flex">
        <div class="auction-description auction-detail">
            <p class="auction-label">Description :</p>
            <p class="auction-content">{{ auction.description }}</p>
        </div>
        <div class="auction-category auction-detail">
            <p class="auction-label">Category : </p>
            <p class="auction-content">{{ auction.category }}</p>
        </div>
        <div class="auction-seller auction-detail">
            <p class="auction-label">Seller : </p>
            <p class="auction-content">{{ auction.seller }}</p>
        </div>
        <div class="auction-creation-date auction-detail">
            <p class="auction-label">Online since : </p>
            <p class="auction-content">{{ auction.creation_date }}</p>
        </div>
    </div>
</div>

<script>
    const auctionImagesBig = document.querySelector(".auction-images-big")
    const smallImg = document.querySelectorAll(".small-img")

    const displayImage = (e) => {
        let bigImages = ""
        // console.log(e.currentTarget.src)
        bigImages = `<img src="${e.currentTarget.src}" alt="${e.currentTarget.src}">`
        auctionImagesBig.innerHTML = bigImages;
    }

    smallImg.forEach(e => {
        e.addEventListener('mouseover', displayImage)
    });
</script>
{% endblock %}