{% extends "auctions/layout.html" %}

{% block body %}
<div class="categories">
    <h1>{{ category|upper }}</h1>
    <ul class="nav-categories flex">
        <a class="nav-categories-link" href="{% url 'auctions:categories' %}">
            <li class="nav-categories-item">{{ all }}</li>
        </a>
        {% for category in categories %}
        <a class="nav-categories-link" href="{% url 'auctions:filter' category %}">
            <li class="nav-categories-item">{{ category }}</li>
        </a>
        {% endfor %}
    </ul>

    <div class="items-container">
        {% for auction in auctions %}
        <a href="{% url 'auctions:auction' auction.pk %}">
            <div id="{{ auction.pk }}" class="item flex">
                <div class="item-img">
                    {% for image in images %}
                    {% if image.auction.pk == auction.pk %}
                    <img src="{{ image.upload.url }}">
                    {% endif %}
                    {% endfor %}
                    <!-- <img src="/media/{{ auction.first_image }}"> -->
                </div>
                <div class="item-details">
                    <h3 class="item-title">{{ auction.title }}</h3>
                    <div class="item-price flex">
                        <p>{{ auction.bid }} $</p>
                        {% if auction.bid_counter == 0 %}
                        <p>No bids yet</p>
                        {% elif auction.bid_counter == 1 %}
                        <p>{{ auction.bid_counter }} bid</p>
                        {% else %}
                        <p>{{ auction.bid_counter }} bids</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>

        {% endfor %}
    </div>
</div>


{% endblock %}