{% extends "auctions/layout.html" %}

{% block body %}
<div class="categories">
    <h1>{{ category|upper }}</h1>
    <ul class="nav-categories flex">
        <a class="nav-categories-link" href="{% url 'auctions:categories' %}">
            <li class="nav-categories-item">{{ all }}</li>
        </a>
        {% for category in categories %}
        <a class="nav-categories-link" href="{% url 'auctions:filter' category %}">
            <li class="nav-categories-item">{{ category }}</li>
        </a>
        {% endfor %}
    </ul>
    {% if auctions %}
    <div class="items-container">
        {% for auction in auctions %}
        {% include "./item.html" %}
        {% endfor %}
    </div>
    {% else %}
    <div class="no-items">
        <h2>Unfortunatly, there is no items for this category yet.</h2>
        {% if user.is_authenticated %}
        <p>Want to sell something ? Please click <a href="{% url 'auctions:sell' %}">HERE</a></p>
        {% else %}
        <p>Want to sell something ? <a href="{% url 'auctions:login' %}">Sign In</a> and start selling.</p>
        {% endif %}
    </div>
    {% endif %}
</div>


{% endblock %}