{% extends "auctions/layout.html" %}

{% block body %}
<div class="categories">
    <ul class="nav-categories flex">
        {% for category in categories %}
        <li class="nav-categories-item">
            <a class="nav-categories-link" href="{% url 'auctions:index' %}">{{ category }}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="items-container">
        {% for auction in auctions %}
        <div class="item">
            <h3>{{ auction.title }}</h3>
            <p>{{ auction.category }}</p>
            <p>{{ auction.description }}</p>
            <p>{{ auction.seller }}</p>
            {{ images.upload }}
        </div>
        {% endfor %}
    </div>
</div>


{% endblock%}