<div class="comment-display">
    {% for comment in comments %}
    <div class="comment">
        <p>{{ comment.comment }}</p>
    </div>
    <div class="comment-details">
        <p>{{ comment.user }} - {{ comment.comment_date }}</p>
    </div>
    {% endfor %}
</div>
<div class="comment-form">
    <form action="{% url 'auctions:auction' auction.pk %}" method="POST" class="auction-wishlist-form flex">
        {% csrf_token %}
        {{ comment_form }}
        {% if active %}
        <input type="submit" value="Comment" class="btn">
        {% else %}
        <input type="submit" value="Comment" class="btn" disabled>
        {% endif %}
    </form>
</div>