<a href="{% url 'auctions:auction' auction.pk %}">
    <div id="{{ auction.pk }}" class="item flex">
        <div class="item-img">
            {% for image in images %}
            {% if image.auction.pk == auction.pk %}
            <img src="{{ image.upload.url }}">
            {% endif %}
            {% endfor %}
        </div>
        <div class="item-details">
            <p class="item-title">{{ auction.title }}</p>
            <div class="item-price flex">
                {% if auction.bid_counter == 0 %}
                <p>{{ auction.start_bid|floatformat:2 }} $</p>
                <p>No bids yet</p>
                {% elif auction.bid_counter == 1 %}
                <p>{{ auction.bid|floatformat:2 }} $</p>
                <p>{{ auction.bid_counter }} bid</p>
                {% else %}
                <p>{{ auction.bid|floatformat:2 }} $</p>
                <p>{{ auction.bid_counter }} bids</p>
                {% endif %}
            </div>
        </div>
    </div>
</a>