{% extends "auctions/layout.html" %}

{% block body %}

<div class="connection flex">
    <h2>Login</h2>

    <form action="{% url 'auctions:login' %}" method="post" class="connection-form">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn" type="submit" value="Login">
    </form>

    <p>Don't have an account ? <a href="{% url 'auctions:register' %}">Register here</a></p>

    {% if message %}
    <div class="error-msg">{{ message }}</div>
    {% endif %}

    <div class="logins">
        <h3>Demo Account n°1</h3>
        <div class="login flex">
            <div class="login-title flex">
                <p>Username: </p>
                <p>Password: </p>
            </div>
            <div class="login-data flex">
                <p>cla</p>
                <p>cla</p>
            </div>
        </div>
        <h3>Demo Account n°2</h3>
        <div class="login flex">
            <div class="login-title flex">
                <p>Username: </p>
                <p>Password: </p>
            </div>
            <div class="login-data flex">
                <p>toytoy</p>
                <p>toytoy</p>
            </div>
        </div>
    </div>

</div>


{% endblock %}