{% extends "auctions/layout.html" %}

{% block body %}
<h1>WISHLIST</h1>
<div class="items-container">
    {% for item in wishlist %}
    {% if item.auction.active %}
    <div class="items-on-going">
        <h2>On Going Auctions</h2>
        {% include "./wishlist_item.html" %}
    </div>
    {% elif not item.auction.active and user == item.auction.winner %}
    <div class="items-won">
        <h2>Auctions Won</h2>
        {% include "./wishlist_item.html" %}
    </div>
    {% elif not item.auction.active %}
    <div class="items-lost">
        <h2>Auctions Lost</h2>
        {% include "./wishlist_item.html" %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}