{% extends "auctions/layout.html" %}

{% block body %}
<h1>WISHLIST</h1>
<h2>On Going Auctions</h2>
<div class="items-container">
    {% for item in ongoing %}
    {% with item.auction as auction %}
    {% include "./item.html" %}
    {% endwith %}
    {% endfor %}
</div>
<h2>Won Auctions</h2>
<div class="items-container">
    {% for item in won %}
    {% with item.auction as auction %}
    {% include "./item.html" %}
    {% endwith %}
    {% endfor %}
</div>
<h2>Lost Auctions</h2>
<div class="items-container">
    {% for item in lost %}
    {% with item.auction as auction %}
    {% include "./item.html" %}
    {% endwith %}
    {% endfor %}
</div>
{% endblock %}